<header>
    <div class="grid p-6" >
      <div class="col-3">
        <div class="logo" >
          <img src="assets/images/logo.png" alt="logo" style="font-size: small;"/>
        </div>
      </div>
      <div class="col-3 search">
        <app-products-search> </app-products-search>
      </div>
      <div class="col-4 p-offset-1 navigation"  >
         <app-nav></app-nav>
      </div>
      <div class="col-1 tools">
        <users-register></users-register>
        <orders-cart-icon></orders-cart-icon>
      </div>
    </div>
  </header>
  