<p  class="color-red" >home-page works!</p>
<div class="p-grid"> 
    <div class="p-col">1</div> 
    <div class="p-col">2</div> 
    <div class="p-col">3</div> 
</div>
<p-accordion [activeIndex]="0">
    <p-accordionTab header="Header I">
        <p>
            aaaa
        </p>
    </p-accordionTab>
    <p-accordionTab header="Header II">
        <p>
            aaa
        </p>
    </p-accordionTab>
    <p-accordionTab header="Header III">
        <p>aaa  </p>
    </p-accordionTab>
</p-accordion>

